.cw-80{width: 80%;}
.cw-70{width: 70%;}
.cw-60{width: 60%;}
.text-orange {
    color: #fb6242;
}

.btn-orange {
    background-color: #fb795e; /* Color de fondo personalizado */
    border-color: #fb6242; /* Color de borde personalizado */
    color: white; /* Color del texto */
    padding: 0.5rem 1rem; /* Espaciado interno */
    border-radius: 0.25rem; /* Bordes redondeados */
    transition: background-color 0.3s; /* Animación suave al pasar el ratón */
}

.btn-orange:hover {
    background-color: #fb6242; /* Color de fondo al pasar el ratón */
    color: #831903;
}